*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
    background:#fff;
    color:black;
}

form{
    width:400px;
    margin:30px auto;
    padding:8px;
    background:#eee;
    border-left:8px solid #a1a;
    border-top:5px solid #1a1;
    border-radius:10px;
    overflow:hidden;
}
form a{
    color:#a1a;
    text-decoration:none;
}
form ul{
    list-style:none;
    margin: 0 0 10px 10px;
}
label{
    display:block;
    margin:3px 0;
}
input{
    margin:3px 0 8px 0;
}
input[type=radio]{
    margin-right:5px;
}
fieldset{
    border-style:none;
}
.box{
    width:400px;
    margin:30px auto;
    padding:8px;
    background:#242;
    border:5px solid #5d5;
    border-radius:10px;
    overflow:hidden;
    color:white;
}
.box h2, .box p{
    padding:3px;
}
.errorBox{
    width:400px;
    margin:30px auto;
    padding:8px;
    color:white;
    background:#422;
    border:5px solid #d55;
    border-radius:10px;
    overflow:hidden;
}

select{
    display:block;
    margin-bottom:5px;
}
table{
    margin:0 auto;
}
td{
    padding:3px;
}