/* Styles for portal page */
/*Colors
Dark blue ish: rgba(66, 85, 99) or #425563
Khaki: rgb(214, 204, 163) or #D6CCA3
Orange ish: rgb(214, 164, 97) or #D6A461
Purple: rgb(167, 123, 202) or #A77BCA
Red: rgb(224, 79, 57) or #E04F39
Green: rgb(161, 216, 132) or #A1D884
*/
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background:white;
}
header{
    height:100px;
    line-height:100px;
    background:#425563;
}
header h2{
    color:white;
    float:left;
    margin-left:10vw;
}
header a {
    color:#A1D884;
    text-decoration:none;
}
header a:hover{
    color:white;
}
header nav{
    float:right;
    margin-right:10vw;
}
nav{
    height:45px;
    float:left;
}
nav ul{
    float:left;
}
nav li {
    float: left;
    list-style-type: none;
    margin-left:30px;
}
#hero{
    height:320px;
    background:#D6A461;
}
#heroLeft{
    width:25%;
    height:320px;
    float:left;
    margin-left:10%;
    background:#D6A461;
    /* position:relative; */
}
#circlePhotoWrapper{
    clear:both;
    margin:auto;
    border-radius:50%;
    overflow:hidden;
    max-width:fit-content;
}
img#tedAndBird{
    border: 20px solid #D6A461;
    display:block;
    border-radius:50%;
    width:320px;
    margin:auto;
}
#heroRight{
    width:55%;
    height:320px;
    line-height:320px;
    background:#D6A461;
    float:right;
    margin-right:10%;
    position:relative;
}
#bio{
    color:white;
    position:absolute;
    top:20%;
    line-height:normal;
    font-size:120%;
    padding:0 10% 0 10%;
}
#wrapper{
    margin:0 auto;
    background:white;
}
main{
    width:50%;
    float:left;
    margin-left:15%;
    padding:20px;
}
img.screenshot{
    width:90%;
}
aside{
    width:20%;
    float:right;
    margin-right:15%;
    padding:20px;
    /* margin-right:10%; */
}
aside ul{
    margin:0 auto;
}
li{
    list-style-type:none;
}
aside a {
    color:#425563;
}
aside a:hover{
    color:#E04F39;
}
footer{
    clear:both;
    height:100px;
    line-height:100px;
    width:100%;
    margin:0 auto;
    text-align:center;
    background:#425563;
    color:white;
}
footer a {
    color:#A1D884;
    /* text-decoration:none; */
}
footer a:hover{
    color:white;
}