/* Styles for portal page */
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background:rgb(45, 50, 60);
}
a{

}
#wrapper{
    width:80vw;
    margin:0 auto;
}
nav{
    height:45px;
    float:left;
}
nav ul{
    float:left;
}

nav li {
    float: left;
    list-style-type: none;
    margin-left:30px;
}