*{
    margin:0;
}
form{
    width:550px;
    margin:20px auto;
}
label{
    display:block;
}
form ul{
    list-style:none;
    margin:0 0 10px 10px;
}
.error{
    display:block;  
    color:red;
    font-style:italic;
    margin-bottom:5px 0 10px 0;
}