*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
    background:#444;
    color:white;
}

form{
    width:400px;
    margin:30px auto;
    padding:8px;
    background:#424;
    border:5px solid #d5d;
    border-radius:10px;
    overflow:hidden;
}
form a{
    color:#f6f;
    text-decoration:none;
}
form ul{
    list-style:none;
    margin: 0 0 10px 10px;
}
label{
    display:block;
    margin:3px 0;
}
input{
    margin:3px 0 8px 0;
}
input[type=radio]{
    margin-right:5px;
}
fieldset{
    border-style:none;
}
.box{
    width:400px;
    margin:30px auto;
    padding:8px;
    background:#242;
    border:5px solid #5d5;
    border-radius:10px;
    overflow:hidden;
}
.errorBox{
    width:400px;
    margin:30px auto;
    padding:8px;
    background:#422;
    border:5px solid #d55;
    border-radius:10px;
    overflow:hidden;
}
select{
    display:block;
    margin-bottom:5px;
}
aside{
    width:500px;
    margin:30px auto;
}