/* Styles for IT 261 Main Website */
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
html{
    /* position:relative; */
    /* min-height:100%; */
}
body {
    background: beige;
    /* min-height:100vh; */
}
header {
    background: yellow;
    overflow:hidden;
}
nav {
    height:50px;
    float:right;
}
nav ul {
    float:right;
}
nav li {
    float: left;
    list-style-type: none;
    margin-left:30px;
}
nav a {
    text-decoration:none;
    color:black;
}
nav a.current{
    color:green;
    font-weight:bold;
}
.header-inner {
    max-width:1100px;
    margin: 20px auto;
}
#logo {
    float:left;
    width:180px;
    margin-bottom:20px;
    max-width:100px;
}
#hero{
    /* height:300px; */
    /* background:red; */
    /* margin-bottom:20px; */
}
#hero img{
    max-width:100%;
    /* max-height:100%; */
    overflow:hidden;
}
#wrapper{
    max-width:1100px;
    margin:0 auto;
    min-height:100%;
}
/* our values are base don a 940px grid */
/* 580 divided by 940 */
main{
    width:57%;
    /* height:400px; */
    background: lightblue;
    float: left;
    /* margin:30px; */
    padding:30px;
    font-size:120%;
}
#listWrapper{
    margin:30px;
    float:left;
}
#listWrapper ul{
    margin:0 20px 20px 20px;
}
aside{
    width:35%;
    /* height: 300px; */
    background: white;
    float:right;
}

#characterPhoto{
    width:100%;
    height:100%;
    margin:0 auto;
    border: 20px solid beige;
    border-radius:50%;
}
#circlePhotoWrapper{
    clear:both;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
    max-width:80%;
    /* max-width:100px;  */
}
blockquote{
    font-size:150%;
    font-style:italic;
}
.Gandalf, .Gandalf aside, main, .Gandalf a{
    background:white;
}
.Gandalf a{
    color:#993333;
}
.Bilbo, .Bilbo aside, .Bilbo main{
    background:#779977;
    color:beige;
}
.Bilbo a{
    color: #ccff77;
}
.Frodo, .Frodo aside, .Frodo main{
    background:#b97;
    color:beige;
}
.Frodo a{
    color:#993333;
}
.Aragorn, .Aragorn aside, .Aragorn main{
    background:#579;
    color:beige;
}
.Aragorn a{
    color:#bdf;
}
.Samwise, .Samwise aside, .Samwise main{
    background:#353;
    color:beige;
}
.Samwise a{
    color: #ccff77;
}
.Boromir, .Boromir aside, .Boromir main{
    background:#993333;
    color:beige;
}
.Boromir a{
    color: gold;
}
.Gimli, .Gimli aside, .Gimli main{
    background:#553333;
    color:beige;
}
.Gimli a{
    color: gold;
}
/* Begin Contact page/Form style */
form{
    /* border-style:none; */
}
form ul{
    list-style-type:none;
    margin: 10px 5px;
}
fieldset{
    border-style:none;
}
label{
    padding:10px 5px;
    display:block;
}
input, select{
    margin:5px;
    /* line-height: 250%; */
    font-size: 100%;
}
textarea{
    width:80%;
    height:150px;
    margin:5px;
    font-size:100%; 
}
fieldset a{
    margin:5px;
}
.error{
    color:red;
    font-style:italic;
    display:block;
}
img.bike{
    max-width:100%;
}
footer{
    height:50px;
    line-height:50px;
    border-top:1px dotted #333;
    clear:both;
    /* position:absolute; */
    bottom:0;    
}
footer ul{
    /* float:right; */
    margin:0 auto;
}
footer li {
    float:left;
    list-style-type:none;
    margin-left:20px;
}